altgraph==0.17.4
asgiref==3.10.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
cowsay==6.1
distlib==0.4.0
Django==5.2.8
filelock==3.20.0
idna==3.7
iniconfig==2.0.0
mysql-connector-python==9.5.0
networkx==3.5
numpy==2.3.2
packaging==24.0
pandas==2.3.2
pefile==2023.2.7
platformdirs==4.5.0
pluggy==1.5.0
pydot==4.0.1
pyformlang==1.0.11
pygame==2.6.1
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pyparsing==3.2.3
pytest==8.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
requests==2.31.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.2.1
virtualenv==20.35.4
virtualenvwrapper-win==1.2.7
